@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.header {
    background-color: #daa646;
    text-align: center;
    padding: 15px 0;
    text-transform: lowercase;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    letter-spacing: -1.2px;
}